:root {
  --gold: #B3A26F;
  --navy: #0A254E;
  --gray10: hsla(0, 0%, 10%, 1);
  --gray30: hsla(0, 0%, 30%, 1);
  --gray50: hsla(0, 0%, 50%, 1);
  --gray70: hsla(0, 0%, 70%, 1);
  --gray95: hsla(0, 0%, 95%, 1);
  --font-norm: Avenir;
  --font-bold: Avenir-Black;
  --font-size-header: 3em;
}